workflows/scanner-interencheres.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "0e3d714a-484e-4be1-b5ae-20a0511aa4c2",
      "name": "Toutes les 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -512,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://playwright-stealth:3001/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"url\": \"https://www.interencheres.com/recherche/lots?location=\" + encodeURIComponent('{\"lat\":44.840116,\"lon\":-0.570681,\"city\":\" Bordeaux, Gironde, France\"}') + \"&radius=50&search=\" + encodeURIComponent($json.keyword),\n  \"waitFor\": 8000\n} }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "1f51d86b-6c26-40c4-8fa6-70af0d99689d",
      "name": "Scan Interencheres (Stealth)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const keywords = [\n  'hilti',\n  'festool',\n  'milwaukee',\n  'makita',\n  'dewalt',\n  'bosch pro'\n];\n\nreturn keywords.map(keyword => ({ json: { keyword } }));"
      },
      "id": "d0ce75b8-3016-445e-b469-9fec0a026f50",
      "name": "Mots-clés Premium",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Nœud de synthèse et validation des données\nconst items = $input.all();\nconst keywords = $('Mots-clés Premium').all();\nconst synthese = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n  \n  // Récupérer le keyword correspondant depuis le nœud \"Mots-clés Premium\"\n  const keyword = keywords[i] ? keywords[i].json.keyword : 'unknown';\n  \n  const html = data.html || data.body || '';\n  const success = data.success !== undefined ? data.success : false;\n  const cloudflareDetected = data.cloudflareDetected || false;\n  \n  // Statistiques HTML\n  const htmlLength = html.length;\n  const hasContent = htmlLength > 10000;\n  \n  // Détection de contenu réel\n  const hasLots = html.includes('class=\"lot') || html.includes('result') || html.includes('<article');\n  const hasKeyword = keyword ? html.toLowerCase().includes(keyword.toLowerCase()) : false;\n  \n  synthese.push({\n    json: {\n      keyword: keyword,\n      success,\n      cloudflareDetected,\n      htmlLength,\n      hasContent,\n      hasLots,\n      hasKeyword,\n      status: success && !cloudflareDetected && hasContent ? '✅ OK' : '⚠️ Issue',\n      html: html,  // Conserver le HTML pour le nœud suivant\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn synthese;"
      },
      "id": "e4c235b1-c817-4262-946d-649ef12510d8",
      "name": "📊 Synthèse & Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraction basée sur la structure HTML Interencheres\nconst items = $input.all();\nconst allResults = [];\n\n// Liste des marques premium pour détection\nconst MARQUES_PREMIUM = ['hilti', 'festool', 'milwaukee', 'makita', 'dewalt', 'bosch', 'metabo'];\n\n// Traiter chaque item (chaque keyword)\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n  const html = data.html || '';\n  const keyword = data.keyword || 'unknown';\n  \n  // Vérifier Cloudflare CHALLENGE\n  const isCloudflareChallenge = (\n    (html.includes('cf-browser-verification') && html.includes('Checking your browser')) ||\n    (html.includes('challenge-platform') && html.includes('Just a moment')) ||\n    (html.includes('Cloudflare') && html.length < 5000)\n  );\n  \n  if (isCloudflareChallenge) {\n    allResults.push({ \n      json: { \n        error: 'Cloudflare détecté', \n        keyword, \n        html_preview: html.substring(0, 500) \n      } \n    });\n    continue;\n  }\n  \n  // EXTRACTION DES LOTS - Structure Interencheres réelle\n  const lotPattern = /<a[^>]*href=\"([^\"]*\\/lot-\\d+\\.html)\"[^>]*id=\"(\\d+)\"[^>]*>([\\s\\S]*?)<\\/a>/gi;\n  \n  let match;\n  let lotsFound = 0;\n  \n  while ((match = lotPattern.exec(html)) !== null) {\n    const url = 'https://www.interencheres.com' + match[1];\n    const lotId = match[2];\n    const lotContent = match[3];\n    \n    // Extraction titre\n    const titreMatch = /<div[^>]*class=\"[^\"]*title[^\"]*text-subtitle-2[^\"]*\"[^>]*>\\s*<div[^>]*>([^<]+)<\\/div>/i.exec(lotContent);\n    if (!titreMatch) continue;\n    \n    const titre = titreMatch[1].trim();\n    \n    // Extraction estimation du vendeur (optionnelle)\n    let estimation_vendeur_min = null;\n    let estimation_vendeur_max = null;\n    const estimationVendeurMatch = /Estimation\\s*:\\s*<\\/span>\\s*<span[^>]*>(\\d+)(?:&nbsp;)?\\s*€\\s*-\\s*(\\d+)(?:&nbsp;)?\\s*€/i.exec(lotContent);\n    if (estimationVendeurMatch) {\n      estimation_vendeur_min = parseInt(estimationVendeurMatch[1]);\n      estimation_vendeur_max = parseInt(estimationVendeurMatch[2]);\n    }\n\n    // Extraction prix - Mise à prix\n    let prix = 0;\n    const miseAPrixMatch = /Mise\\s+à\\s+prix\\s*:\\s*<\\/span>\\s*<span[^>]*>(\\d+)(?:&nbsp;)?\\s*€/i.exec(lotContent);\n    if (miseAPrixMatch) {\n      prix = parseInt(miseAPrixMatch[1]);\n    } else if (estimation_vendeur_min) {\n      prix = estimation_vendeur_min;\n    }\n    \n    // Détection marque uniquement\n    let marque_detectee = null;\n    for (const marque of MARQUES_PREMIUM) {\n      if (titre.toLowerCase().includes(marque)) {\n        marque_detectee = marque;\n        break;\n      }\n    }\n\n    // Ajouter le lot (pas de filtrage)\n    allResults.push({\n      json: {\n        titre,\n        prix,\n        estimation_vendeur_min,\n        estimation_vendeur_max,\n        url,\n        lot_id: lotId,\n        keyword,\n        marque_detectee,\n        date_detection: new Date().toISOString()\n      }\n    });\n    lotsFound++;\n  }\n  \n  // Si aucun résultat trouvé pour ce keyword\n  if (lotsFound === 0) {\n    allResults.push({ \n      json: { \n        message: 'Aucun lot trouvé', \n        keyword, \n        html_length: html.length,\n        has_autoqa_class: html.includes('autoqa-sale-details-item'),\n        has_lot_links: html.includes('/lot-')\n      } \n    });\n  }\n}\n\nreturn allResults.length > 0 ? allResults : [{ json: { message: 'Aucun item traité' } }];"
      },
      "id": "fd15bf8b-cbb1-4f09-8c7c-029938a5f381",
      "name": "Extraction + Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        320
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aXhXYEybgfXURg2QYduYL61dSPv4WPPqzp4hfgPpGNo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Produits",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aXhXYEybgfXURg2QYduYL61dSPv4WPPqzp4hfgPpGNo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "titre": "={{ $json.titre }}",
            "prix": "={{ $json.prix }}",
            "estimation_vendeur_min": "={{ $json.estimation_vendeur_min }}",
            "estimation_vendeur_max": "={{ $json.estimation_vendeur_max }}",
            "url": "={{ $json.url }}",
            "lot_id": "={{ $json.lot_id }}",
            "keyword": "={{ $json.keyword }}",
            "marque_detectee": "={{ $json.marque_detectee }}",
            "date_detection": "={{ $json.date_detection }}"
          },
          "matchingColumns": [
            "lot_id"
          ],
          "schema": [
            {
              "id": "titre",
              "displayName": "titre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prix",
              "displayName": "prix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "estimation_vendeur_min",
              "displayName": "estimation_vendeur_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "estimation_vendeur_max",
              "displayName": "estimation_vendeur_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lot_id",
              "displayName": "lot_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "marque_detectee",
              "displayName": "marque_detectee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_detection",
              "displayName": "date_detection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "53b63354-e699-49db-8699-90d31e571488",
      "name": "Sauvegarder dans Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        848,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "d3kN50qNoDv0C9y2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1944bce7-68d4-41e4-b27f-e367da8602c0",
              "leftValue": "={{ $json.titre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        320
      ],
      "id": "94f21063-5130-426d-a8fa-d453f7718a27",
      "name": "Filter"
    }
  ],
  "connections": {
    "Toutes les 30min": {
      "main": [
        [
          {
            "node": "Mots-clés Premium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Interencheres (Stealth)": {
      "main": [
        [
          {
            "node": "📊 Synthèse & Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mots-clés Premium": {
      "main": [
        [
          {
            "node": "Scan Interencheres (Stealth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Synthèse & Validation": {
      "main": [
        [
          {
            "node": "Extraction + Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction + Scoring": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Sauvegarder dans Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "468227695e0b945022c08e5852c6051011c5ff523664bf407b41675ee39f381a"
  }
}